/*Main page*/
*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}
body{
   background-color: #49111C;
}
.sidenav a{
    text-decoration: none;
}
.type{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot button{
    margin-top: 5vh;
    width: fit-content;
    height: fit-content;
    box-shadow: inset 0 0 0 4px #49111C;
    color: white;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.bot button::before,.bot button::after{
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.bot button::before{
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.bot button::after{
    border-top-width: 4px;
  border-right-width: 4px;
}
.bot button:hover{
    color: #A9927D;
}
.bot button:hover::before,.bot button:hover::after{
    border-color: #A9927D;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.bot button:hover::before{
    transition-delay: 0s, 0s, 0.25s;
}
.bot button:hover::after{
    transition-delay: 0s, 0.25s, 0s;
}
.btn{
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 3vw monospace;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
}
.btn:focus{
    outline: none;
}

.type h1{
    margin-right: 15%;
    color: #F2F4F3;
    font-family: monospace;
    overflow: hidden; 
}  

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0A0908;
    overflow: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

.sidenav .menu{
    padding: 8px 8px 8px 32px;
    width: fit-content;
    height: 20px;
    margin: 5vh 0px ;
    text-decoration: none;
    font-size: 25px;
    color: #F0F4EF;
    display: block;
    font-family: sans-serif;
    transition: 0.3s;
}
.sidenav .menu:hover{
    box-shadow:  0 0 1em #5E503F;
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.social{
    display: flex;
    position: absolute;
    bottom: 5%;
    margin-left: 80px;

}
.social img{
    
    padding: 10px;
    max-width: 30px;
    max-height: 30px;
}

.sidebox{
    position: fixed;
    background-color: #0A0908;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    width: 50px;
    transition: .5s;
}
.sidebox:before{
    border-radius:50%;
    background: white;
    transition: .5s;
}
.sidebox:hover:before{
    box-shadow: 0 0 15px white;
    filter: blur(3px);
}
.sidebox:hover{
    box-shadow: 0 0 15px #BFCC94;
}


.sidebox img{
    filter: invert(100%);
    margin: 5px 0px;
    max-width: 35px;
    max-height: 35px;
}

.logo-2{
    filter: invert(100%);
    margin: 0px 0px 0px 30px;
    min-width: 50px;
    min-height: 50px;
    width: 60%;
    height: 15%;
}
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    font-family: sans-serif;
    margin-left: 50px;
    color: #5E503F;
}
h1,h2{
    text-align: center;
    color: #F2F4F3;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 60px;
}
.hello{
    margin-left: 10vw;
    font-size: 5vw;
}
h2{
    margin-top: 35Vh;
    font-size: 3vw;
}

/*Room page*/

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    margin-left: 50px;
    margin-top: 20px;
    min-height: 0;
    min-width: 0;
    padding: 0 5vw ;
    row-gap: 3vw;
    column-gap: 0;
}

.cards .pcard{
    display: flex;
    background-color: #0A0908;
    flex-direction: column;
    width: 50vh;
    height: 40vh;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}
.pcard .ctitle{
    font-size: 3vw;
    color: #F0F4EF;
}
.pcard .ctext{
    display: flex;
    flex-direction: column;
    font-family: monospace;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 10px;
}
.pcard .cbody{
    color: #BFCC94;
    font-size: 2vw;
}
.pcard:before{
    background: white;
    transition: .5s;
}
.pcard:hover:before{
    box-shadow: 0 0 15px white;
    filter: blur(3px);
}
.pcard:hover{
    box-shadow: 0 0 15px #BFCC94;
}
.pcard img{
    height: 200px;
    width: 100%;
    min-width: 100px;
    min-height: 100px;
}

@media(max-width:1200px){
    .cards{
        grid-template-columns: 50% 50%;
    }
}
@media(max-width:865px){
    .cards{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
}
@media(max-width:488px){
    .cards .pcard{
        width: 55vw;
        height: 40vw;
    }
}
.modal-box{
    position: fixed;
    grid-template-rows: 60% 40% ;
    justify-content: center;
    row-gap: 2vw;
    left: 0;
    top: 0;
    overflow-y:auto;
    margin: 10px;
    height: 100%;
    width: 60%;
    /*width*/
    background-color: #F0F4EF;
    padding: 3vw;
}

.modal-header{ 
    width: 100%;
}
.modal-body{
    text-align: center;
    width: 100%;
    
}
.modal-box img{
    height: 50%;
    width: 100%;
    min-width: 100px;
    min-height: 100px;
    
}
.close-modal{
    top: 0;
    right: 0;
    margin: 2vw 35% 0 0;
    color: black;
    cursor: pointer;
    font-weight: 900;
    font-size: 40px;
    position: fixed;
    z-index: 10;
}

.close-modal:hover{
    color: #344966;
}
.body-text{
    font-size: 2vw;
    font-family: monospace;
}
.mtitle{
    font-family: monospace;
    font-size: 3vw;
    color: #344966;
}
/*slider*/
.slider{
    justify-content: center;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.s-controlls{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.s-controlls div{
    font-family: monospace;
    color: black;
    font-weight: 900;
    font-size: 5vh;
    margin: 0 5vw;
}
.s-controlls div:hover{
    cursor: pointer;
    color: #344966;
}
.s-content img{
    width: 100%;
    height: 100%;
}
.s-content{
    display: flex;
    align-items: center;
    height: 100%;
    width: 70%;
}
@media(max-width:490px){
    .close-modal{
        margin: 2vw 15% 0 0;
    }
    .modal-box{
        width: 80%;
    }
}
@media(max-width:500px){
    .s-content{
       width: 100%; 
    }
}
/*Reservas page*/

.dform{
    margin-left: 50px;
    display: flex;
    margin-top: 4%;
    flex-direction: row;
    justify-content: center;

}
label{
    font-size: 3vw;
    color: #F2F4F3;
}
.form1,.form2{
    background-color: #5E503F;
    width: 500px;
    height: 650px;
    margin: 10px;
    text-align: center;
}
.f-data1 input{
    padding-left: 5px;
    width: 300px;
    height: 35px;
    margin: 15px;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    border: none;
    color: #F2F4F3;
    border-bottom: solid 3px #A9927D;
}
.f-data1 button{
    margin-top: 20%;
    color: #F2F4F3;
    font-size: 20px;
    background-color: #49111C;
    width: 140px;
    height: 60px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.f-data1 button:hover{
    box-shadow:  0 0 1em black;
}
.f-data1 textarea{
    resize: none;
    background-color: transparent;
    border-radius: 13px;
    color: #F2F4F3;
    font-size: 20px;
    border: solid 3px #A9927D;
    outline: none;
    padding-left: 10px;
}
.f-data1 input::placeholder,.f-data1 textarea::placeholder{
    color: #F2F4F3;
}
.f-data1{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*about page*/
.about img{
    background-color: #A9927D;
    width: 150px;
    height: 150px;
    border: 10px solid #5E503F;
    border-radius: 50%;
}
.a-header{
    display: flex;
    justify-content: center;
}
